.tile {
    background-color: darkcyan;
    width: 75px;
    height: 55px;
    margin: 3px;
    color: cyan;
    padding-top: 20%;
    vertical-align: middle;
}

.tile:hover {
    background-color: rgb(31, 173, 173);
}


.win {
    background-color: #61dafb;
    color: white;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

button {
    background-color: darkcyan;
    border: black solid 1px;
    border-radius: 20px;
    font-size: large;
    color: white;
    margin: 8px;
    padding: 8px 20px;
}
button:hover {
    background-color: #61dafb;
}
.white-border {
    border-color: white;
}


select {
    background-color: darkcyan;
    border: none;
    padding: 2px 8px;
    margin: 8px 0px;
    color: white;
}

h2 {
    margin: 4px;
}